{% extends "base.html" %}
{% load markup page_tags %}

{% block title %}{{ home.title }} |{% endblock %}

{% block bodyId %}id = "{{home.slug}}"{% endblock %}

{% block pageContent %}
    <div id="pageContent" class="grid_8">
        {% if home.page_title %}
            <h1 class="pageTitle">{{home.page_title}}</h1>
        {% else %}
            <h1 class="pageTitle">{{home.title}}</h1>
        {% endif %}
        {% if home.media.all %}
            {% for media in home.media.all %}
                <h2>{{media.name}}</h2>
                {{media.media_embed|safe}}
            {% endfor %}
        {% endif %}
        {{home.main_content|markdown}}
    </div>
{% endblock %}
{% block sidebar %}
    <div id="sidebar" class="grid_8">
        <div class="grid_4 alpha">
            {% include "includes/sidebar_col1.html" %}
        </div>
        <div class="grid_4 omega">
            {% include "includes/sidebar_col2.html" %}
        </div>
    </div>
{% endblock %}
