{% extends "base.html" %}
{% load markup page_tags %}

{% block title %}{{ home.title }}{% endblock %}
{% block content %}
<div id="pageContent" class="grid_8">
    <h1>{{home.title}}</h1>
    {% if home.media.all %}
        {% for media in home.media.all %}
            <h2>{{media.name}}</h2>
            {{media.media_embed|safe}}
        {% endfor %}
    {% endif %}
    {{home.main_content|markdown}}
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="">
    <div class="grid_4">
        {% include "includes/sidebar_col1.html" %}
    </div>
    <div class="grid_4">
        {% include "includes/sidebar_col2.html" %}
    </div>
</div>
{% endblock %}