{% extends "base.html" %}
{% load markup page_tags %}

{% block title %}{{ object.title }} |{% endblock %}

{% block bodyId %}id = "{% if object.parent %}{{object.parent.slug}}{% else %}{{object.slug}}{% endif %}"{% endblock %}

{% block pageContent %}
    <div id="pageContent" class="grid_8">
        <h1 class="pageTitle">{{object.title}}</h1>
        {{object.main_content|markdown}}
        
        {% for mobject in object.media.all %}
            {% if mobject.media_embed %}
                <h3>{{mobject.name}}</h3>
                {{mobject.media_embed|safe}}
            {% else %}
                {% ifequal mobject.media_type.name "Image"  %}
                    <div id="{{mobject.slug}}">
                        <img src="{{mobject.media_file.url}}" alt="{{mobject.name}}">
                    </div>
                {% endifequal %}
                {% ifequal mobject.media_type.name "PDF"  %}
                    <div id="{{mobject.slug}}">
                        <h5><a href="{{mobject.media_file.url}}" title="{{mobject.name}}">Download {{mobject.name}}</a> (PDF)</h5>
                    </div>
                    pdf
                {% endifequal %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
    <div id="sidebar" class="grid_8">
        <div class="grid_4 alpha">
            {% include "includes/sidebar_col1.html" %}
        </div>
        <div class="grid_4 omega">
            {% include "includes/sidebar_col2.html" %}
        </div>
    </div>
{% endblock %}
