{% extends "base.html" %}
{% load markup %}

{% block title %}{{ object.title }}{% endblock %}
{% block content %}
	<div id="content" class="clear">
        <h1>{{object.title}}</h1>
        {% if object.media_1 %}
            <div id="{{ object.media_1.name }}">
                {% ifequal object.media_1.media_type.name "Image" %}
                    <img src="{{ object.media_1.get_absolute_url }}" alt="{{ object.media_1.alt_text }}">
                {% endifequal %}
            </div>
        {% endif %}
	   {{object.main_content.content|markdown}}
	</div>
{% endblock %}