/*
	Site ~ Accordion CSS.
	Author: Dave Merwin dave@davemerwin.com
*/
#subNav, #subNav ul {list-style:none; padding:0; margin:0;}
ul#subNav li {background:#046380;}
ul#subNav li ul li {background:#a7a37e;}
ul#subNav li ul li ul li {background:#efecca;}
#subNav ul {background:#efefef;}
#subNav ul ul {background:#D6D6D6;}
#subnav ul ul ul {background:#A3A3A3;}
#subNav li {position:relative; padding:0; margin:0;}
.close {display:none;}
.closeIcon {background:url(../img/close.png) center left no-repeat; width:13px; height:13px; float:left; }
.open {background:url(../img/open.png) center left no-repeat; width:13px; height:13px; display:block; float:left;}
.active {color:red;}
.subNavToggle {margin:0 10px 0 0;}