/*
    Site.css Base CSS for Blue Channel Projects
    Dave Merwin
    
    Thanks to Nathan Smith for 960 Grid.

*/

/* Get the basics */
@import "reset.css";
@import "960.css";
@import "text.css";

/* =GENERAL
----------------------------------------------------------------------------*/
.mir { letter-spacing : -1000em; }
/* Just for Opera, but hide from MacIE */
/*\*/html>body .mir { letter-spacing : normal; text-indent : -999em; overflow : hidden;}
/* End of hack */

p.mir {line-height:0;}

/* =LAYOUT
----------------------------------------------------------------------------*/

/* =TYPOGRAPHY
----------------------------------------------------------------------------*/

/* =FORMS
----------------------------------------------------------------------------*/