/*
	Site ~ Core CSS.
	Main control sheet for style
*/

/* =Includes
----------------------------------------------------------------------------*/
@import "960.css";
@import "reset.css";
@import "text.css";

/* =General
----------------------------------------------------------------------------*/
.mir { letter-spacing : -1000em; }
/* Just for Opera, but hide from MacIE */
/*\*/html>body .mir { letter-spacing : normal; text-indent : -999em; overflow : hidden;}
/* End of hack */

p.mir {line-height:0;}
body {color:#444444; background:#E6E6E6;}

/* =Layout
----------------------------------------------------------------------------*/
#masthead {background:#F3F3F3;}
#masthead .wrap {position:relative; height:130px;}
#globalNav {position:absolute; top:0; right:0px; list-style:none;}
#globalNav li {float:left; width:60px; text-align:center; margin:0 0 0 2px;}
#globalNav a {width:60px; text-align:center; background:#D9D9D9; height:1.5em; height:1.5em; display:block;}
#globalNav a:visited {color:#404040;}
#globalNav a:hover {color:#BFBFBF; background:#404040;}
#searchBlock {position:absolute; bottom:0px; right:20px; background:#D9D9D9; padding:10px;}
.nav {list-style:none;}
#navBlock {background:#D9D9D9;}

#content {background:#fff;}
#content .wrap {padding:0 0 20px 0;}
#breadcrumbBlock {height:36px; position:relative;}
.objectBlock {padding:10px; margin:0 0 10px 0;}
.moduleBlock {margin:0 0 10px 0; background:#F3F3F3;}

.breadcrumb {list-style:none; margin:0 0 10px 10px; padding:0;}
.breadcrumb li {display:inline; margin:0 0 10px 0;}
.breadcrumb li a {border-right:1px solid #000; padding-right:5px;}

#sidebar dl, #sidebar fieldset {margin:0;}
#switcher {margin:0; padding:0; position:absolute; top:10px; right:10px; text-align:right;}
#switcher li {display:inline; margin:0 0 0 5px;}
#smaller {font-size:90%;}
#bigger {font-size:125%;}

#loginBlock p {text-align:center; padding:0 0 10px 0;}

#meta ul, #related ul {list-style:none;}
#meta ul li, #related ul li {padding:0; margin:0;}
#meta .tags {display:inline;}
#meta ul li .tags li {display:inline; margin:0 5px 0 0;}

#searchBlock {padding:10px 10px 0 10px;}
#searchBlock dl {margin:0;}
#searchBlock dt, #searchBlock dd {display:inline; margin:0; padding:0;}

#footer {background:#BFBFBF;}

#subNav ul {padding:0; margin:0; background:#D9D9D9;}
#subNav li {padding:0; margin:0; list-style:none;}
#subNav ul ul {}

#pageContent {overflow:hidden; padding:0 0 40px 0;}

/* =Typography
----------------------------------------------------------------------------*/
a {color:#1A1A1A; text-decoration:none; font-weight:bold;}
a:visited {color:#000;}
a:hover {color:#A6A6A6;}

#projectTitle {width:455px; height:66px; background:url(../img/starterKit_logo.png) top left no-repeat; position:absolute; top:20px; left:20px;}
#projectTitle a {width:417px; height:66px; display:block;}
#slogan {position:absolute; top:85px; left:20px;}

.moduleBlock p {margin:0;}

.nav {margin:0; padding:0;}
.nav em {font-style:normal;}
#navBlock .nav li {margin:0; padding:0; width:100px; float:left; text-align:center; height:2.5em; line-height:2.5em;}
#navBlock .nav li a {margin:0; padding:0; width:100px; display:block; height:2.5em; line-height:2.5em;}
#navBlock .nav li a:hover {background:#BFBFBF; color:#000;}

#subNav li {padding:2px 5px;}
#subNav li a {display:block; padding:2px 4px;}
#subNav li a:hover {background:#333; color:#A6A6A6;}
#sidebar h3 {margin:0; padding:2px 6px; font-size:100%; background:#BFBFBF; text-transform:uppercase;}

#login p {text-align:center;}
#login fieldset, #login dl {margin:0;}

#footer .nav {width:100%; text-align:center; background:#D9D9D9; height:2.5em; line-height:2.5em; margin:0 0 20px 0;}
#footer .nav li {display:inline; margin:0 5px;}
#footer h4 {background:#A6A6A6; font-size:100%; text-transform:uppercase; padding:3px 6px; margin:0;}
.footerBlock {background:#F3F3F3;}

/* =Forms
----------------------------------------------------------------------------*/
#sidebar form {margin:0;}
#sidebar input {margin:0 0 10px 0; width:100%;}
#sidebar input#login, #sidebar input#email_signUpBttn {width:auto;}
.bodyForm legend span {padding:0; position:absolute; top:-30px; left:-5px; margin:0; font-weight:bold; font-size:120%;}
.bodyForm dt {width:30%; float:left; text-align:right;}
.bodyForm dd {width:70%; float:left; margin:0 0 10px 0;}
.bodyForm fieldset {padding:40px 20px 20px 20px; background:#efefef; position:relative;}
.bodyForm label {margin:0 10px 0 0;}
.bodyForm fieldset input, .bodyForm fieldset textarea {width:100%;}
.bodyForm fieldset textarea {height:80px;}
#upload_file {width:70%;}
#browse {width:60px; margin:0 0 0 10px;}
