<div id="globalNavBlock">
<h4>Give Randy A Call:</h4>
<h3>888-321-7899</h3>
<!-- Google CSE code begins -->
<form id="searchbox_001533410478196553194:xvfafkqiebq" onsubmit="return false;" class="searchForm">
  <input type="text" name="q"/>
  <input type="submit" value="Search"/>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_001533410478196553194%3Axvfafkqiebq&lang=en"></script>

<div id="results_001533410478196553194:xvfafkqiebq" style="display:none">
  <div class="cse-closeResults"> 
    <a>&times; Close</a>
  </div>
  <div class="cse-resultsContainer"></div>
</div>

<style type="text/css">
@import url(http://www.google.com/cse/api/overlay.css);
</style>

<script src="http://www.google.com/uds/api?file=uds.js&v=1.0&key=ABQIAAAALKdBdFnPVRkot2KklHPYVBQmzWv4u7S9uC0HMeDiMPdU5mBNfhS287yz95k0s5FnSbvPsCwK4wbOPg&hl=en" type="text/javascript"></script>
<script src="http://www.google.com/cse/api/overlay.js"></script>
<script type="text/javascript">
function OnLoad() {
  new CSEOverlay("001533410478196553194:xvfafkqiebq",
                 document.getElementById("searchbox_001533410478196553194:xvfafkqiebq"),
                 document.getElementById("results_001533410478196553194:xvfafkqiebq"));
}
GSearch.setOnLoadCallback(OnLoad);
</script>
<!-- Google CSE Code ends -->


<ul id="globalNav" class="clearfix">
    <li><a href="/" title="">Home</a></li>
    <li><a href="/contact/" title="" class="contact">Contact</a></li>
</ul>
<ul id="fontSize">
    <li><a href="" title="Make Fonts Smaller" id="smallFonts" class="fontSwitcher"><span>-A</span></a></li>
    <li><a href="" title="Make Fonts Bigger" id="largeFonts" class="fontSwitcher"><span>+A</span></a></li>
</ul>
</div>
