{% load page_tags %}

<div id="registerBlock" class="moduleBlock">
    <h1 class="registerButton"><a href="" title="Register Now">Register Now</a></h1>
<h1>May 3, 2009</h1>
</div>

<div id="email" class="moduleBlock">
<h3 class="moduleToggle">Email Sign Up</h3>
<div class="objectBlock">
    <a id="mailing-list" title="Joing The Mailing List" href="http://visitor.constantcontact.com/d.jsp?m=1101409009309&p=oi">Join the Mailing List</a>
</div>
</div>

{% show_news_list %}

{% get_random_sponsor %}