{% load page_tags %}

    {% if object.type.blog %}
    <div id="meta" class="moduleBlock">
            <h3 class="moduleToggle"><a href="" title="Toggle Meta">About This Content</a></h3>
            <ul class="objectBlock">
                <li>Author: {{ object.author }}</li>
                <li>Date: {{ object.created }}</li>
                <li>Tags: {{ object.tags }}</li>
            </ul>
        </div>
    {% endif %}
    <div id="sub" class="moduleBlock">
    <h3 class="moduleToggle"><a href="" title="Toggle The Sub Menu">Sub Menu</a></h3>
    {% if not object.get_children %}
        <ul id="subNav" class="objectBlock">
            {% for siblings in object.get_all_siblings %}
                <li><a href="{{siblings.get_absolute_url}}" title="{{siblings.title}}">{{siblings.title}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <ul id="subNav" class="objectBlock">    
        {% for children in object.get_children %}
            <li><a href="{{children.get_absolute_url}}" title="{{children.title}}">{{children.title}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% if object.similar_pages.all %}
    <div id="related" class="moduleBlock">
        <h3 class="moduleToggle"><a href="" title="Toggle The Related Items">Related Items</a></h3>
        <ul class="objectBlock">
            {% for sim_page in object.similar_pages.all %}
                <li><a href="{{ sim_page.get_absolute_url }}" title="{{ sim_page.title }}">{{sim_page.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}