{% extends "base.html" %}
{% load markup page_tags blog_tags comments %}

{% block title %}Blog | {% endblock %}
{% block bodyId %}{{object.slug}}{% endblock %}
{% block content %}
<div id="pageContent" class="grid_10">
<h1 class="pageTitle">St. Paul's Latest Blog Entries</h1>
<ul class="postList">
{% for object in latest %}
    <li class="{% cycle postEven,postOdd %}">
        <div class="objectBlock clearfix">
            <div class="meta grid_2 alpha">
                <ul>
                <li><strong>{{object.author.username}}</strong></li>
                <li>{{object.created|date}}</li>
                <li>Comments ({% get_comment_count for object as comment_count %}{% ifequal comment_count '0' %}0{% else %}{{comment_count}}{% endifequal %})</li>
                </ul>
            </div>
            <div class="postItem grid_7 omega">
                <h3><a href="{{object.get_absolute_url}}" title="{{object.title}}">{{object.title}}</a></h3>
                {% if object.summary %}
                    {{object.summary|markdown}}
                {% else %}
                    {{object.main_content|truncatewords_html:30|markdown}}
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}
</ul>
        
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="grid_6">
    <h3>Recent Entries</h3>
    <div class="objectBlock">
        {% recent_entries_list %}
    </div>
     
    {% block announcements %}
        {% include "includes/announcements.html" %}
    {% endblock %}
    {% block sidebarColOne %}
        <div class="grid_3 alpha">
            {% include "includes/blog_sidebar_col1.html" %}
        </div>
    {% endblock %}
    {% block sidebarColTwo %}
        <div class="grid_3 omega">
            {% include "includes/sidebar_col2.html" %}
        </div>
    {% endblock %}
</div>
{% endblock %}