<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>500 Error</title>
	<meta name="author" content="Dave Merwin">
    <link rel="stylesheet" href="css/site.css" type="text/css" media="screen, projection">
   <link rel="stylesheet" href="css/print.css" type="text/css" media="print">	
   <!--[if IE]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
	<script type="text/javascript" src="js/jquery-1.2.3.js"></script>
	<script type="text/javascript" src="js/site.settings.js"></script>
</head>
<body class="reset">
Whoops... its a 500 baby!
</body>
</html>
