<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="Dave Merwin">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection"><![endif]-->
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.2.3.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/site.settings.js"></script>
</head>
<body>
    <p id="content-skip" class="mir"><a href="#content" title="Skip To Content" class="mir">Skip To Content</a></p>
    <div id="wrap" class="container_16">
        <div id="masthead">
            
        </div>
        <div id="content" class="clearfix">
            {% block content %}{% endblock %}
            {% block sidebar %}{% endblock %}
        </div>
        <div id="footer">
            
        </div>
    </div>
</body>
</html>