<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Starter Kit | 960 16 Column Grid</title>
    <meta name="author" content="Dave Merwin">
    <meta name="keywords" content="TO BE ADDED">
    <meta name="description" content="TO BE ADDED">
    
    <link rel="stylesheet" type="text/css" media="all" href="css/site.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/print.css">
    
    <script type="text/javascript" src="js/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.dimensions.min.js"></script>
    <script type="text/javascript" src="js/cookie.js"></script>
    <script type="text/javascript" src="js/site.settings.js"></script>
</head>
<body>
<div id="wrap" class="container_16">
    <div id="masthead" class="">
        <h2 id="projectTitle" class="mir"><a href="/" title="Take Me Home">Project Title</a></h2>
        <h4 id="slogan">This a pithy slogan</h4>
            <ul id="globalNav">
                <li><a href="" title="">Home</a></li>
                <li><a href="" title="">About</a></li>
                <li><a href="" title="">Help</a></li>
            </ul>
            <div id="searchBlock">
                <form action="index_submit" method="post" accept-charset="utf-8">
                    <dl>
                    <dt><input type="text" name="search" value="" id="search"></dt>
                    <dd><input type="submit" name="searchSubmit" value="Search" id="searchSubmit"></dd>
                    </dl>
                </form>
            </div>
    </div>
    <div id="navBlock" class="clearfix">
        <ul class="nav">
            <li><a href="" title="" class="" accesskey="m"><em>M</em>odule One</a></li>
            <li><a href="" title="" class="" accesskey="o">M<em>o</em>dule Two</a></li>
            <li><a href="" title="" class="" accesskey="d">Mo<em>d</em>ule Three</a></li>
            <li><a href="" title="" class="" accesskey="u">Mod<em>u</em>le Four</a></li>
            <li><a href="" title="" class="" accesskey="l">Modu<em>l</em>e Five</a></li>
        </ul>
    </div>
    <div id="content" class="clearfix">
        <ul class="breadcrumb">
            <li>You are: </li>
            <li><a href="" title="">Home</a></li>
            <li><a href="" title="">A Module Name</a></li>
            <li>A Module Child</li>
        </ul>
        <ul id="switcher">
            <li>Columns:</li>
            <li><a href="" title="Two Columns" class="layoutSwitch" id="twoColumns">2</a></li>
            <li><a href="" title="Three Columns" class="layoutSwitch" id="threeColumns">3</a></li>
            <li>Font Size:</li>
            <li><a href="" title="Make Your Fonts Smaller" class="fontToggle" id="smaller">A</a></li>
            <li><a href="" title="Make Your Fonts Bigger" class="fontToggle" id="bigger">A</a></li>
        </ul>
        
    <div id="pageContent" class="grid_8">
            <h1>This is an Article Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div id="sidebar" class="">
        <div class="grid_4">
            <div id="meta" class="moduleBlock">
                        <h3 class="moduleToggle"><a href="" title="Toggle Meta">About This Content</a></h3>
                <ul class="objectBlock">
                    <li>Author: <a href="" title="">Dave Merwin</a></li>
                    <li>Date: <a href="" title="">12/31/07</a></li>
                    <li>Tags:
                        <ul class="tags">
                            <li><a href="" title="">Content</a></li>
                            <li><a href="" title="">Stellar</a></li>
                            <li><a href="" title="">Surfing</a></li>
                            <li><a href="" title="">More</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="sub" class="moduleBlock">
        <h3 class="moduleToggle"><a href="" title="Toggle The Sub Menu">Module Sub Menu</a></h3>
            <ul id="subNav" class="objectBlock">
                <li><a href="" title="" class="notmore">This is a Menu</a></li>
                <li><a href="#" title="" class="more">Another Menu</a>
                    <ul class="subNavMenu">
                        <li><a href="" title="" class="">This is a Menu</a></li>
                        <li><a href="" title="" class="">Another Menu</a></li>
                        <li><a href="" title="" class="">Here is an Option</a></li>
                        <li><a href="" title="" class="">I am an Option</a></li>
                        <li><a href="" title="" class="">This a Menu Item</a></li>
                        <li><a href="" title="" class="">Read an Article</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="more">Here is an Option</a>
                    <ul class="subNavMenu">
                        <li><a href="" title="" class="">This is a Menu</a></li>
                        <li><a href="" title="" class="">Another Menu</a>
                            <ul class="subNavMenu">
                                <li><a href="" title="" class="">This is a Menu</a></li>
                                <li><a href="" title="" class="">Another Menu</a></li>
                                <li><a href="" title="" class="">Here is an Option</a></li>
                                <li><a href="" title="" class="">I am an Option</a></li>
                                <li><a href="" title="" class="">This a Menu Item</a></li>
                                <li><a href="" title="" class="">Read an Article</a></li>
                            </ul>
                        </li>
                        <li><a href="" title="" class="">Here is an Option</a></li>
                        <li><a href="" title="" class="">I am an Option</a></li>
                        <li><a href="" title="" class="">This a Menu Item</a></li>
                        <li><a href="" title="" class="">Read an Article</a></li>
                    </ul>
                </li>
                <li><a href="#" title="" class="more">I am an Option</a>
                    <ul class="subNavMenu">
                        <li><a href="" title="" class="">This is a Menu</a></li>
                        <li><a href="" title="" class="">Another Menu</a></li>
                        <li><a href="" title="" class="">Here is an Option</a></li>
                        <li><a href="" title="" class="">I am an Option</a></li>
                        <li><a href="" title="" class="">This a Menu Item</a></li>
                        <li><a href="" title="" class="">Read an Article</a></li>
                    </ul>
                </li>
                <li><a href="" title="" class="notmore">This a Menu Item</a></li>
                <li><a href="" title="" class="notmore">Read an Article</a></li>
            </ul>
            </div>
                <div id="related" class="moduleBlock">
            <h3 class="moduleToggle"><a href="" title="Toggle The Related Items">Related Items</a></h3>
            <ul class="objectBlock">
                <li><a href="" title="" class="">This is a Menu</a></li>
                <li><a href="" title="" class="">Another Menu</a></li>
                <li><a href="" title="" class="">Here is an Option</a></li>
                <li><a href="" title="" class="">I am an Option</a></li>
                <li><a href="" title="" class="">This a Menu Item</a></li>
                <li><a href="" title="" class="">Read an Article</a></li>
            </ul>
                </div>
        </div>
        <div class="grid_4">
        <div id="loginBlock" class="moduleBlock">
        <h3 class="moduleToggle"><a href="" title="">Login To Program</a></h3>
        <form action="index_submit" method="post" accept-charset="utf-8" class="sidebarForm objectBlock">
            <fieldset id="loginFields">
                <legend>Account Login</legend>
                <dl>
                    <dt><label for="username">Username</label></dt>
                    <dd><input type="text" name="username" value="" id="username"></dd>
                    <dt><label for="password">Password</label></dt>
                    <dd><input type="text" name="password" value="" id="password"></dd>
                    <dt><label for="login"></label></dt>
                    <dd><input type="submit" name="login" value="Submit" id="login"></dd>
                </dl>
            </fieldset>
        </form>
        <p><a href="" title="">Forget your password?</a></p>
        </div>

        <div id="email" class="moduleBlock">
        <h3 class="moduleToggle"><a href="" title="Toggle Email Signup">Email Sign Up</a></h3>
        <form action="index_submit" method="post" accept-charset="utf-8" class="objectBlock">
            <dl>
                <dt><label for="email_signup">Email</label></dt>
                <dd><input type="text" name="email_signup" value="" id="email_signup"></dd>
                <dd><input type="submit" value="Submit"></dd>
                </dl>
            </form>
        </div>
        <div id="info" class="moduleBlock">
        <h3 class="moduleToggle"><a href="" title="Toggle Extra Info">This is a Quote</a></h3>
            <p class="objectBlock">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    </div>
    </div>
    
    <div id="footer">
            <ul class="nav">
                <li><a href="" title="" class="" accesskey="m"><em>M</em>odule One</a></li>
                <li><a href="" title="" class="" accesskey="o">M<em>o</em>dule Two</a></li>
                <li><a href="" title="" class="" accesskey="d">Mo<em>d</em>ule Three</a></li>
                <li><a href="" title="" class="" accesskey="u">Mod<em>u</em>le Four</a></li>
                <li><a href="" title="" class="" accesskey="l">Modu<em>l</em>e Five</a></li>
            </ul>
            <div class="highlightBlocks clearfix">
                <div class="footerBlock grid_4">
                    <h4>I am a Title</h4>
                    <ul class="objectBlock">
                    <li><a href="">This is a list</a></li>
                    <li><a href="">This is another lost</a></li>
                    <li><a href="">I LOVE lists</a></li>
                    </ul>
                </div>
                <div class="footerBlock grid_4">
                    <h4>So Am I!</h4>
                    <p class="objectBlock">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="footerBlock grid_4">
                    <h4>What About Me?</h4>
                    <p class="objectBlock">What did you say punk?</p>
                </div>
                <div class="footerBlock grid_4">
                    <h4>Well, You Sure Are Cool!</h4>
                </div>
            </div>
            <div class="objectBlock">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
    </div>
</div>
</body>
</html>